/* .projects {
    background: rgb(56,55,55);
    background: linear-gradient(90deg, rgba(56,55,55,1) 0%, rgba(19,19,19,1) 53%);
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;

}
.column {
    width: 300px; 
    margin: 20px 20px 40px 40px; 
    text-align: center; 


}

.column img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    transition: transform 0.8s; 
    box-shadow: 8px 6px 10px 1px rgba(1, 1, 1, 0.364); 
}

.column img:hover {
    transform: scale(1.06); 
    border: 1px solid #131313; 
}

.column .album-title {
    font-size: medium; 
    color: #ccfa01; 
    margin-top: 10px; 
}

.column .album-title:hover {
    color: #f0f;
}

.column a {
    text-decoration: none;
}

.projects-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
} */







.projects {
    background: rgb(56,55,55);
    background: linear-gradient(90deg, rgba(56,55,55,1) 0%, rgba(19,19,19,1) 53%);
    margin: 0;
    padding: 20px;
    color: rgb(187, 255, 0);
    padding-top: 40px;
}

.projects-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    max-width: 1024px;
    margin: auto; 
}


.card {
    width: 300px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    font-family: 'Montserrat';
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
    color: rgb(187, 255, 0);
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

/* Media Query per rendere le card responsive */
@media only screen and (max-width: 768px) {
    .project-container {
        justify-content: space-around;
    }
}
